﻿@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Http
@using RouletteExplorer.Infrastructure.Mvc;

@model HomeViewModel

<audio id="audio" src="https://www.soundjay.com/button/sounds/button-50.mp3" autoplay="0"></audio>


<style>
    td {
        padding-top: 1px;
        padding-right: 1px;
        padding-left: 1px;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        vertical-align: bottom;
        border: none;
        color: white;
        font-size: 22pt;
        font-weight: 700;
        vertical-align: middle;
        border: 3pt solid white;
    }

    .notapplicable {
        background: #156D3A;
        cursor: not-allowed;
    }

    .green {
        background: #156D3A;
        cursor: not-allowed;
    }

    .red {
        background: #E04E35;
        cursor: pointer;
    }

    .black {
        background: #3D3D3B;
        cursor: pointer;
    }

    .two {
        height: 95.0pt;
    }

    .one {
        height: 95.0pt;
    }

    .zero {
        height: 381px;
        cursor: pointer;
        width: 87px;
    }

    .last {
        background: #ffffff;
        color: #3D3D3B;
    }

    
        

</style>
<script>
    function LogSpin(number) {
        var sound = document.getElementById("audio");
        sound.play();
        var url = "/record/?spin=" + number;
        window.location = url;
    }
</script>

<div class="container">
    <table class="rounded" cellpadding="0" cellspacing="0" style="border-collapse: collapse;table-layout: fixed;width:100%">
        <col span="14">
        <tr height="127" style="height:95.0pt">
            <td rowspan="3" class="green zero"
                onclick="LogSpin(0);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "0")>
                0
            </td>
            <td class="red" onclick="LogSpin(3);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "3")>3</td>
            <td class="black" onclick="LogSpin(6);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "6")>6</td>
            <td class="red" onclick="LogSpin(9);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "9")>9</td>
            <td class="red" onclick="LogSpin(12);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "12")>12</td>
            <td class="black" onclick="LogSpin(15);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "15")>15</td>
            <td class="red" onclick="LogSpin(18);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "18")>18</td>
            <td class="red" onclick="LogSpin(21);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "21")>21</td>
            <td class="black" onclick="LogSpin(24);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "24")>24</td>
            <td class="red" onclick="LogSpin(27);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "27")>27</td>
            <td class="red" onclick="LogSpin(30);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "30")>30</td>
            <td class="black" onclick="LogSpin(33);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "33")>33</td>
            <td class="red" onclick="LogSpin(36);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "36")>36</td>
            <td class="green">3rd</td>
        </tr>
        <tr height="127" style="height:95.0pt">
            <td height="127" class="black two"
                onclick="LogSpin(2);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "2")>
                2
            </td>
            <td class="red" onclick="LogSpin(5);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "5")>5</td>
            <td class="black" onclick="LogSpin(8);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "8")>8</td>
            <td class="black" onclick="LogSpin(11);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "11")>11</td>
            <td class="red" onclick="LogSpin(14);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "14")>14</td>
            <td class="black" onclick="LogSpin(17);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "17")>17</td>
            <td class="black" onclick="LogSpin(20);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "20")>20</td>
            <td class="red" onclick="LogSpin(23);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "23")>23</td>
            <td class="black" onclick="LogSpin(26);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "26")>26</td>
            <td class="black" onclick="LogSpin(29);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "29")>29</td>
            <td class="red" onclick="LogSpin(32);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "32")>32</td>
            <td class="black" onclick="LogSpin(35);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "35")>35</td>
            <td class="green">2nd</td>
        </tr>
        <tr height="127" style="height:95.0pt">
            <td height="127" class="red one"
                onclick="LogSpin(1);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "1")>
                1
            </td>
            <td class="black" onclick="LogSpin(4);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "4")>4</td>
            <td class="red" onclick="LogSpin(7);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "7")>7</td>
            <td class="black" onclick="LogSpin(10);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "10")>10</td>
            <td class="black" onclick="LogSpin(13);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "13")>13</td>
            <td class="red" onclick="LogSpin(16);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "16")>16</td>
            <td class="red" onclick="LogSpin(19);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "19")>19</td>
            <td class="black" onclick="LogSpin(22);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "22")>22</td>
            <td class="red" onclick="LogSpin(25);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "25")>25</td>
            <td class="black" onclick="LogSpin(28);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "28")>28</td>
            <td class="black" onclick="LogSpin(31);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "31")>31</td>
            <td class="red" onclick="LogSpin(34);" @HtmlHelpers.AddStyleForNumber(Context.Request.Query["spin"] == "34")>34</td>
            <td class="green">1st</>
        </tr>
        <tr height="70">
            <td style="border-left: none; border-bottom: none;">
            </td>
            <td colspan="4" class="green">
                1st 12
            </td>
            <td colspan="4" class="green">
                2nd 12
            </td>
            <td colspan="4" class="green">
                3rd 12
            </td>
            <td style="border: none">
            </td>
        </tr>
        <tr height="70">
            <td style="border-top:none;border-left:none;border-bottom:none"></td>
            <td colspan=2 class="green">
                1-18
            </td>
            <td colspan=2 class="green">
                EVEN
            </td>
            <td colspan=2 class="red" style="cursor: not-allowed;">
                RED
            </td>
            <td colspan=2 class="black" style="cursor: not-allowed;">
                BLACK
            </td>
            <td colspan=2 class="green">
                ODD
            </td>
            <td colspan=2 class="green">
                19-36
            </td>
            <td style="border-top: none; border-right: none; border-bottom: none">
                <a href="/undo"><img src="~/img/icon-undo-3.png" style="width:100%" /></a>
            </td>
        </tr>
    </table>
    <div style="height:20px"></div>
    <table class=" bg-light" width="100%" style="table-layout: fixed;border-radius: 50px; box-sizing:initial">

        @if (Model.RecentSpins.Any())
        {
            <tr>
                <td width="100%" style="border: none; margin: 0 0 0 0; padding: 12px 0 0 16px;white-space: normal !important;word-wrap: break-word !important; text-align: left">
                    
                    @{
                        int count = 1;
                    }
                    @foreach (var number in Model.RecentSpins) 
                    {
                        <span>
                            <img src="~/img/number-ball-@(number.NumberValue).png" width="73" style="padding: 6px;" title="@count" />
                        </span>

                        count++;
                    }
                </td>
            </tr>
        }

    </table>
</div>