﻿@model SettingsViewModel

    <div>
        <h2 class="text-white">@Model.Title</h2>

        <table class="table table-light table-striped table-hover rounded">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Spins</th>
                    <th scope="col">Date Created</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Wheels)
                {
                <tr>
                    <th scope="row">@row.Name</th>
                    <td scope="row">
                        @if (row.IsActive)
                        {
                            <span style="color:red"><strong>&bull;</strong> Recording</span>
                        }
                        else
                        {
                            <span>Off (<a asp-controller="Settings" asp-action="Activate" asp-route-id="@row.Id">Activate</a>)</span>
                        }
                    </td>
                    <td>@row.Spins.Count()</td>
                    <td>@row.Created.ToShortDateString()</td>
                    <td><a asp-controller="Settings" asp-action="Delete" asp-route-id="@row.Id">Delete</a></td>
                </tr>
                }
            </tbody>
        </table>

        <form asp-action="Create">
            <div class="form-group row">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Add Wheel:</div>
                        </div>
                        <input id="Name" name="Name" type="text" required="required" class="form-control">
                        <button name="submit" type="submit" class="btn btn-primary">Save</button>

                    </div>
                </div>
            </div>
        </form>
    </div>

