﻿@using RouletteExplorer.Models.Numbers.Enums
@model InsideBetReportViewModel

<style>
    td {
    }
</style>
<div>
    <h2 class="text-white">@Model.InsideBetReportName</h2>

    <table class="table table-light table-striped table-hover table-sm rounded-sm">
    <thead>
        <tr>
            <th width="11%" scope="col">Spin</th>
            <th width="9%" scope="col">Hot</th>
            <th width="8%" scope="col">2nd</th>
            <th width="8%" scope="col">3rd</th>
            <th width="8%" scope="col">4th</th>
            <th width="8%" scope="col">5th</th>
            <th width="8%" scope="col">6th</th>
            <th width="8%" scope="col">7th</th>
            <th width="8%" scope="col">8th</th>
            <th width="8%" scope="col">9th</th>
            <th width="16%" scope="col">Sector</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var row in Model.InsideBetReport)
            {
            <tr>
                <td><div style="font-weight:bold">@row.Seed</div><div>(@row.Number)</div></td>

                @if (row.HotNumberBias.Equals(0))
                {
                    <td><div style="font-weight:bold">--</div><div>--</div></td>
                }
                else
                {
                    <td><div style="font-weight:bold">@row.HotNumber</div><div>@row.HotNumberBias%</div></td>
                }

                @if (row.SecondNumberBias.Equals(0))
                {
                    <td><div style="font-weight:bold">--</div><div>--</div></td>
                }
                else
                {
                    <td><div style="font-weight:bold">@row.SecondNumber</div><div>@row.SecondNumberBias%</div></td>
                }

                @if (row.ThirdNumberBias.Equals(0))
                {
                    <td><div style="font-weight:bold">--</div><div>--</div></td>
                }
                else
                {
                    <td><div style="font-weight:bold">@row.ThirdNumber</div><div>@row.ThirdNumberBias%</div></td>
                }

                @if (row.FourthNumberBias.Equals(0))
                {
                    <td><div style="font-weight:bold">--</div><div>--</div></td>
                }
                else
                {
                    <td><div style="font-weight:bold">@row.FourthNumber</div><div>@row.FourthNumberBias%</div></td>
                }

                @if (row.FifthNumberBias.Equals(0))
                {
                    <td><div style="font-weight:bold">--</div><div>--</div></td>
                }
                else
                {
                    <td><div style="font-weight:bold">@row.FifthNumber</div><div>@row.FifthNumberBias%</div></td>
                }

                @if (row.SixthNumberBias.Equals(0))
                {
                    <td><div style="font-weight:bold">--</div><div>--</div></td>
                }
                else
                {
                    <td><div style="font-weight:bold">@row.SixthNumber</div><div>@row.SixthNumberBias%</div></td>
                }

                @if (row.SeventhNumberBias.Equals(0))
                {
                    <td><div style="font-weight:bold">--</div><div>--</div></td>
                }
                else
                {
                    <td><div style="font-weight:bold">@row.SeventhNumber</div><div>@row.SeventhNumberBias%</div></td>
                }

                @if (row.EighthNumberBias.Equals(0))
                {
                    <td><div style="font-weight:bold">--</div><div>--</div></td>
                }
                else
                {
                    <td><div style="font-weight:bold">@row.EighthNumber</div><div>@row.EighthNumberBias%</div></td>
                }

                @if (row.NinthNumberBias.Equals(0))
                {
                    <td><div style="font-weight:bold">--</div><div>--</div></td>
                }
                else
                {
                    <td><div style="font-weight:bold">@row.NinthNumber</div><div>@row.NinthNumberBias%</div></td>
                }

                <td><div style="font-weight:bold" title="@row.Sector">@row.Sector.Replace(Sector.NeighborsOfZero.ToString(),"NOZ").Replace(Sector.ThirdOfTheWheel.ToString(), "3rd OW")</div><div>@row.SectorBias%</div></td>
            </tr>
            }
        </tbody>
    </table>
</div>
