﻿@model OutsideBetReportViewModel

<div>
    <h2 class="text-white">@Model.OutsideBetReportName</h2>

    <table class="table table-light table-striped table-hover table-sm rounded-sm">
    <thead>
        <tr>
            <th width="10%" scope="col">Spin</th>
            <th width="12%" scope="col">Zero</th>
            <th width="13%" scope="col">Color</th>
            <th width="13%" scope="col">Parity</th>
            <th width="13%" scope="col">Range</th>
            <th width="13%" scope="col">Dozen</th>
            <th width="13%" scope="col">Column</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var row in Model.OutsideBetReport)
            {
                <tr>
                    <td><div style="font-weight:bold">@row.Seed</div><div>(@row.Number)</div></td>
                    <td><div style="font-weight:bold">@row.ZeroBiasLevel</div><div>@row.ZeroBias%</div></td>
                    <td><div style="font-weight:bold">@row.Color</div><div>@row.ColorBias%</div></td>
                    <td><div style="font-weight:bold">@row.Parity</div><div>@row.ParityBias%</div></td>
                    <td><div style="font-weight:bold">@row.Range</div><div>@row.ParityBias%</div></td>
                    <td><div style="font-weight:bold">@row.Dozen</div><div>@row.DozenBias%</div></td>
                    <td><div style="font-weight:bold">@row.Column</div><div>@row.ColorBias%</div></td>
                </tr>
            }
        </tbody>
    </table>
</div>
