﻿@model StreakReportViewModel

<style>
    td {
    }
</style>
<div>
    <h2 class="text-white">@Model.StreakReportName</h2>

    <table class="table table-light table-striped table-hover table-sm rounded-sm">
    <thead>
        <tr>
            <th width="12%" scope="col">Spin</th>
            <th width="11%" scope="col">1-18</th>
            <th width="11%" scope="col">Even</th>
            <th width="11%" scope="col">Black</th>
            <th width="11%" scope="col">Red</th>
            <th width="11%" scope="col">Odd</th>
            <th width="11%" scope="col">19-36</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var row in Model.StreakReport)
            {
            @*<tr>
                <td><div style="font-weight:bold"></div><div></div></td>
                <td><div style="font-weight:bold"></div><div></div></td>
                <td><div style="font-weight:bold"></div><div></div></td>
                <td><div style="font-weight:bold"></div><div></div></td>
                <td><div style="font-weight:bold"></div><div></div></td>
                <td><div style="font-weight:bold"></div><div></div></td>
                <td><div style="font-weight:bold"></div><div></div></td>
            </tr>*@
            }
        </tbody>
    </table>
</div>
